[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
automaxout = {editable = true,path = "./dependencies/automaxout"}
cbbstats = {editable = true,path = "./dependencies/cbbstats"}
click = "*"
deap = "*"
kaggle = "*"
pandas = "*"
sklearn = "*"
statsmodels = "*"
tensorflow = "*"
tqdm = "*"
xgboost = "*"

[requires]
python_version = "3.7"
